{% extends '@App/Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block-tags-list">
        <div class="block-title"></div>

        <div class="block-content">
            <div class="list tags-list">
                {% for t in tags %}
                    <div class="tags-item">
                        <h2 class="field field-title">{{ t.title }}</h2>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}