{% extends '@App/Layout/layout-two-col-4-8.html.twig' %}

{% block regionRight %}
    <div class="block block-tags-view">
        <div class="block-title"></div>

        <div class="block-content">
            <h2 class="field field-title">{{ tag.title }}</h2>
        </div>
    </div>
{% endblock %}