{% extends '@App/Layout/layout.html.twig' %}

{% block regionRight %}
    <div class="block block-news-delete col-md-8 col-md-offset-2">
        <div class="block-title"></div>

        <div class="block-content">

            {{ form(form) }}
        </div>
    </div>
{% endblock %}